<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eb.mp.mysql.mapper.business.SmartSmsRecordMapper">

    <resultMap type="com.eb.business.dto.sms.rsp.SmartSmsStatisticRspDto"
               id="SmartSmsStatisticRspDto">
        <result column="dates" jdbcType="INTEGER" property="dates" javaType="java.lang.Integer"/>
        <result column="pnum" jdbcType="VARCHAR" property="pnum" javaType="java.lang.String"/>
        <result column="amount" jdbcType="NUMERIC" property="amount" javaType="java.math.BigDecimal"/>
    </resultMap>

    <select id="listPageStatisticCount" resultType="long">
        select count(1) cnt
        from (<include refid="listStatistic"/>) t
    </select>

    <select id="listPageStatistic" resultMap="SmartSmsStatisticRspDto">
        <include refid="listStatistic"/>
        limit #{pageStart}, #{pageSize}
    </select>

    <sql id="listStatistic">
        select dates, pnum, sum(amount) as amount
        from smart_sms_record
        <where>
            <if test="queryReqDto.datesStart != null">
                and dates &gt;= #{queryReqDto.datesStart}
            </if>
            <if test="queryReqDto.datesLast != null">
                and dates &lt;= #{queryReqDto.datesLast}
            </if>
            <if test="queryReqDto.pnumLike != null">
                and lower(pnum) like lower(concat('%', #{queryReqDto.pnumLike}, '%'))
            </if>
        </where>
        group by dates, pnum
        order by dates, pnum
    </sql>


</mapper>